@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blog Carousel */
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #fa7436 !important;
  padding: 0.35rem;
}
.alice-carousel__stage-item{
  max-width: fit-content!important;
  padding-right: 2rem!important;
}
.deals-carousel .alice-carousel__stage-item{
  width: unset!important;
}
/* .alice-carousel__next-btn-item.__inactive{
  background-color: red!important;
} */

@media screen and (max-width: 600px) {
  .deals-carousel .alice-carousel__stage-item{
  width: 100%!important;
}
}
/* Deals Carousel */
 /* Hotel card button */
 .hotel-btn{
  opacity: 0;
 }
 
  .hotel-card:hover .hotel-btn{
    opacity: 1;
    z-index: 100;
    transition: opacity 0.2s ease-in;
  }
  .hotel-card:hover > img{
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;
  }